:root {
  --color-dark: #333333;
  --color-dark-transparent: #333333aa;
  --color-background: #87ceeb;
  --color-background-transparent: #87ceebaa;

  --color-user-1: #be4848;
  --color-user-1-transparent: #be4848aa;
  --color-user-2: #3add89;
  --color-user-2-transparent: #3add89aa;

  --cell-size: 10rem;
  --cell-space: 1rem;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
}

.main-title {
  font-size: 4rem;
  color: var(--color-dark);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  width: calc((3*var(--cell-size)) + (2*var(--cell-space)));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: var(--cell-space);
  background-color: var(--color-background);
  justify-items: center;
  align-items: center;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
}

button {
  appearance: none;
  border: 0;
}

.empty,
.times,
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 300ms linear;
}

.empty::after {
  content: "";
  transform: scale(0);
}

.times::after,
.circle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: calc(var(--cell-size)/2);
  height: calc(var(--cell-size)/2);
  transition: transform 300ms linear;
  transform: scale(1);
}

.circle::after {
  border: calc(var(--cell-space)*2) solid var(--color-user-1);
  border-radius: 50%;
}

.times::after {
  content: "\00D7";
  font-size: calc(var(--cell-size));
  font-weight: 900;
  color: var(--color-user-2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1rem;
}

.btn {
  margin-top: 4rem;
  background-color: var(--color-background-transparent);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
}

.btn-again:active {
  background-color: var(--color-background);
}

.btn-difficulty {
  margin: 0 0.5rem;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.btn-difficulty.easy {
  background-color: var(--color-user-2);
}

.btn-difficulty.hard {
  background-color: var(--color-user-1);
}

.btn-difficulty.easy:active {
  background-color: var(--color-user-2-transparent);
}

.btn-difficulty.hard:active {
  background-color: var(--color-user-1-transparent);
}

.message {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms linear;
  z-index: 99;
  font-size: 12rem;
  font-weight: 700;
  letter-spacing: 2rem;
  width: 100%;
  text-align: center;
  background-color: var(--color-dark-transparent);
  pointer-events: none;
}

.message.small {
  letter-spacing: 1rem;
  font-size: 6rem;
  color: var(--color-background);
}

.message.small,
.message.lose,
.message.win,
.message.draw {
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

.draw {
  color: var(--color-background);
}

.win {
  color: var(--color-user-2);
}

.lose {
  color: var(--color-user-1);
}

.score {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--color-background);
}